.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
}
.portada{
    padding-top: 11rem;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center ;
}
.logovertical{
    height: 70px;
    align-items: center;
    background-color: white;
}
.logovertical{
    transition: transform 4s;
}
.logovertical:hover{
    transform: scale(1.2);
    background-color: white;
}
.color:hover{
    color: black;
}
.navegation ul li{
    display: inline-block;
}
.navegation ul li a{
    display: block;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    transition: all 0.6s linear;
    border-radius: 5px;
}
.navegation ul li a:hover{
    background-color: rgb(197, 197, 197);
}
.color{
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    transition: color 2s;
    align-items: center;
}
.portada{
    width: 100%;
    height: 400px;
}

/*HOME*/

.descripcion{
    position: relative;
    left: 11rem;
    width: 600px;
    padding: 10px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    color: rgb(49, 48, 48);
}
.descripcion-titulo{
    background-color: rgb(186, 255, 108);
}
.videos{
    text-align: center;
}
.video-titulo{
    padding: 5rem;
    font-size: 40px;
}
.logo{
    transition: transform 1.5s;
}
.logo:hover{
    transform: scale(1.2);
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.titulo-cajas{
    background-color: rgb(186, 255, 108);
}
.cajas{
    /* background-color: darksalmon; */
    height: 500px;
    width: 400px;
    font-size: 20px;
    /* border: 3px solid grey; */
    box-sizing: border-box;
    margin: 5rem 5rem 7rem 5rem;
    text-align: justify;
}

/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(199, 199, 199);
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 5px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img{
    width: 180px;
}
.box__footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}
.box__footer h3{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}
.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a .fa-brands{
    font-size: 20px;
}
.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}
.box_copyright hr{
    border: none;
    height: 2px;
    background-color: #7a7a7a;
}


/*QUIENES SOMOS*/

.carrucel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
img{
    max-width: 100%;
}
.container-all{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5 );
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0)
    };
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0)  
    }
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0)
    }

    }


/*LO QUE HACEMOS*/

.visibilizacion-reuniondepares{
    text-align: center;
    background-color: rgb(107, 212, 247);
    color: aliceblue;
}
.grupo-de-pares{
    text-align: left;
}
.tituloasociate{
    font-size: 35px;
    text-align: center;
    background-color: yellowgreen;
    font-style: italic;
}
.noticias{
    max-width: 1200px;
    margin: 0 auto;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
.encuentros:nth-of-type(1){
    grid-column: 1 / 5;
    font-size: 85px;
    text-align: center;

}
.grilla > div{
    border: 1px solid black;
    background-color: bisque;
}

/*PRENSA*/

.prensa{
    text-align: center;
}
.encuentro-con-el-presidente-de-la-nacion{
    font-size: 25px;
    background-color: blanchedalmond;
    font-style: italic
}
.texto-presidente{
    font-size: 20px;
}
.imagen-presidente{
    transform: scale;
}
.encuentros-titulo{
    font-size: 10px;
}


/*CONTACTO*/


.formulario{
    width: 400px;
    background-color: burlywood;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

}
.formulario h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.controls{
    width: 100%;
    background-color: ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
}
.botons{
    width: 100%;
    background-color: bisque;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}

/*MEDIAS*/


@media (max-width: 1280px){
    .cajas{
    height: 670px;
    width: 350px;
    font-size: 20px;
    /* border: 3px solid grey; */ 
    box-sizing: border-box;
    margin: 5rem 1rem 7rem 1rem;
    text-align: justify;
    }
}

@media (max-width: 900px) {
    ul{
        flex-direction: column;
    }
    .portada{
        padding-top: 20rem;
    }
    .grilla{
        grid-template-rows: repeat(4, auto);
    }   
    .descripcion{
        width: 100%;
        text-align: justify;
        left: 0rem;
        padding: 0px 5px 0px 0px;
    }
    /* #label__check{
        display: block;
    }
    .icon__navegation{
        display: flex;
    }
    .menu{
        width: ;
        list-style-type: none;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        gap: 1rem;
        align-items: center ;
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
    #check__navegation:checked ~ .menu{
        height: 300px;
        visibility: visible;
        opacity: 1;
    } */
}
@media (max-width: 1280px) {
    .encuentros:nth-of-type(1){
        grid-column: 1 / 5;
        font-size: auto;
        text-align: center;
    }
    .encuentros:nth-of-type(2){
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
        font-size: 25px;
    }
    .encuentros:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 2 / 4; 
        font-size: 25px;
    }
    .encuentros:nth-of-type(4){
        grid-column: 3/ 4;
        grid-row: 2 / 4; 
        font-size: 25px;
    }
    .encuentros:nth-of-type(5){
        grid-column: 1 / 2;
        grid-row: 4 / 6;
        font-size: 25px;
    }
    .encuentros:nth-of-type(6){
        grid-column: 2 / 3;
        grid-row: 4 / 6;
        font-size: 25px;
    }

}

@media (max-width: 769px) {
    .encuentros:nth-of-type(1){
        grid-column: 1 / 5;
        font-size: 40px;
        text-align: center;
    }
    .encuentros:nth-of-type(2){
        grid-column: 1 / 2;
        grid-row: 2; 
        font-size: 20px;
    }
    .encuentros:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 2; 
        font-size: 20px;
    }
    .encuentros:nth-of-type(4){
        grid-column: 3/ 4;
        grid-row: 2; 
        font-size: 20px;
    }
    .encuentros:nth-of-type(5){
        grid-column: 4 / 5;
        grid-row: 2;
        font-size: 20px;
    }
    .encuentros:nth-of-type(6){
        grid-column: 1 / 2;
        grid-row: 3;
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .encuentros:nth-of-type(1){
        grid-column: 1 / 3;
        font-size: auto;
        text-align: center;
    }
    .encuentros:nth-of-type(2){
        grid-column: 1 / 2;
        grid-row: 2; 
    }
    .encuentros:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 2; 
    }
    .encuentros:nth-of-type(4){
        grid-column: 1/ 2;
        grid-row: 3; 
    }
    .encuentros:nth-of-type(5){
        grid-column: 2 / 3;
        grid-row: 3;
    }
    .encuentros:nth-of-type(6){
        grid-column: 1 / 2;
        grid-row: 4;
    }
}
@media (max-width: 480px) {
    .formulario{
        width: 100%;
    }
    .formulario h1{
        width: 100%;
    }
    .cajas{
        height: 100%;
    }
}
@media (max-width: 381px) {
    .descripcion{
        width: 100%;
        text-align: justify;
        left: 0rem;
        padding: 0px 10px 0px 0px;
    }
    .descripcion-titulo{
        font-size: 25px;
    }
}
@media (max-width: 950px) {
    .box__footer{
        font-size: 17px;
    }
    .enlacesredes{
        font-size: 17px;
    }
}
@media (max-width: 766px) {
    .container__footer{
        flex-direction: column;
    }
    .box__footer{
        padding: 5px;
    }
}
@media (max-width: 400px) {
    .cajas{
        font-size: 19px;
    }
}